OPENAI_API_KEY=xxx
DB_URL=xxx
REDIS_URL=redis://host.docker.internal:6379
REDIS_TOKEN=1233
TOKENIZERS_PARALLELISM=true
OLLAMA_HOST=http://host.docker.internal:11434
LLM_PROVIDER=gemini
GEMINI_API_KEY=xxx
HF_TOKEN=XXX